.section-about{
    display: flex;
    align-items: center;
    padding: 30px 25px !important;
}

.line{
    border: 3px solid #214eb0;
    width: 30%;
    margin-top: 0;
    opacity: 1;
}
.judul-about{
    font-size: 38px;
    font-weight: 400;
    text-shadow: 10px 5px 25px rgb(138, 170, 239,1);
}

.logo-about{
    height: 325px;
}

.foto-about{
    width: 100%;
    object-fit: cover;
    filter: brightness(0.2);
}

.teks-gambar {
    font-family: "Caveat", cursive;
    font-weight: 400;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #f4f6f9;
    font-size: 3vw;
    font-weight: 400;
    text-align: center;
    z-index: 1;
    letter-spacing: 1px;
    line-height: 1.3em;
}

.photo-about{
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* Menambahkan shadow */
}

.map-ab{
    width: 600px;
    height: 400px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgb(138, 170, 239,1);
}

.judul-map{
    font-size: 22px;
    text-shadow: 10px 5px 25px rgb(138, 170, 239,1);
}

.teks-map{
    font-size: 16px;
    font-weight: 300;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
}