.loginregister{
    background-color: #c7cbd8;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    border-radius: 3px;
}

.line-login{
    border: 3px solid rgb(44, 100, 227);
    width: 150px;
    opacity: 1;
    margin: 0 auto;
    border-radius: 50px;
    margin-bottom: 20px;
}

.login-section{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0;
}

.custom-login {
    width: 100%;
    padding: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.custom-login
input[type="email"],
input[type="password"]{
    width: 100%;
    padding: 12px;
    margin: 6px 0;
    box-sizing: border-box;
    border: 2px solid #2c64e3;
    box-shadow: 0px 2px 4px rgba(235, 0, 141, 0.2); 
    border-radius: 10px;
    font-size: 16px;
    margin-bottom: 15px;
}

.custom-login .button-login{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 5px 20px;
    background-color: #2c64e3;
    color: #e8eefc;
    border: 2px solid #e8eefc;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1em;
    width: 150px;
    font-weight: 500;
    box-shadow: 0px 2px 4px rgba(235, 0, 141, 0.2); 
    text-decoration: none;
}

.custom-login .button-login:hover {
    color: #2c64e3;
    background-color: #e8eefc;
}

.custom-login .button-register{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 5px 20px;
    background-color: #e8eefc;
    color: #2c64e3;
    border: 2px solid #2c64e3;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1em;
    width: 150px;
    font-weight: 500;
    box-shadow: 0px 2px 4px rgba(235, 0, 141, 0.2); 
    text-decoration: none;
}

.custom-login .button-register:hover {
    color: #e8eefc;
    background-color: #2c64e3;
}

.teks-login{
    font-size: 16px;
    font-weight: 500;
    text-align: right;
    color: black;
    opacity: 0.6;
}

.custom-login a{
    text-decoration: none;
}

.teks-login:hover{
    color: #2c64e3;
}

.error-message {
    color: #d9534f; 
    background-color: #f2dede; /* Latar belakang merah muda */
    border: 1px solid #ebccd1; /* Border warna merah muda */
    padding: 10px; /* Padding untuk ruang dalam */
    border-radius: 5px; /* Sudut melengkung */
}